.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border: 1px solid black;
    border-width: 2px;
}
.banner {
    grid-area: banner;
    min-width: 580px;
    min-height: 150px;
    border: 1px solid black;
}
.promo-call {
    grid-area: promo-call;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border: 1px solid green;
    border-width: 2px;
}
.products {
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border: 1px solid blue;
    border-width: 2px;
}
.product {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid black;
    border-width: 2px;
    color: green;
}
.newsletter {
    grid-area: newsletter;
    border: 1px solid yellow;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border: 1px solid gray;
    border-width: 2px;
}
.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "banner"
    "promo-call"
    "products"
    "newsletter"
    "footer";
}