
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

html, 
body{ 
    height: 100%;
    margin: 0px;
    font-family: 'Lato';
}
.icon{
    width: auto;
    height: 15px;
    align-self: baseline;
}
.container {
  display: flex;
  flex-direction: column;
  margin:10px;
}
a{
    font-size: 20px; 
    color: #5CA720;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-area{
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 15px;
}
.product{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.preco{
    font-size: 1.2em;
    color: #5CA720;
}
.banner-img {
    width: 100%;
}
.chamada{
    display: flex;
    justify-content: space-between;
   
}
.products {
    display : flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 10px auto;
}
.products > div{
    flex: 1 1 200px;
    margin: 10px;
}
.image{
    max-width: 100%;
    max-height: 100%;
    
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
    background-color: #F9F9F9;
}
hr{
    color: #A5A1A1;
}
button{
    background-color: #5CA720;
    color: white;
    border: none;
}
ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  background-color: #F9F9F9
}



